{% load i18n %}
<div class="fixed-steps">
    <div class="container">
        <div class="row form-steps">
            <div class="col-sm-6-m col-md-3">
                <div class="step line-m" data-step="0">
                    <div class="step-item">
                        1
                    </div>
                    <div>{% trans "Appointment" %}</div>
                </div>
            </div>
            <div class="col-sm-6-m col-md-3">
                <div class="step line-d" data-step="1">
                    <div class="step-item">
                        2
                    </div>
                    <div>{% trans "Demographics" %}</div>
                </div>
            </div>
            <div class="col-sm-6-m col-md-3">
                <div class="step line-m" data-step="2">
                    <div class="step-item">
                        3
                    </div>
                    <div>{% trans "Insurance" %}</div>
                </div>
            </div>
            <div class="col-sm-6-m col-md-3">
                <div class="step" data-step="3">
                    <div class="step-item">
                        4
                    </div>
                    <div>{% trans "Documents" %}</div>
                </div>
            </div>
        </div>
    </div>
</div>