{% extends 'appointment/forms/form-step-4.html' %}
{% load i18n %}
{% block declaration-text %}
    {% comment %} <div class="text-danger">
        <b>{% trans "According to Kern County guidelines, we are vaccinating Healthcare workers, individuals 65+ years old, and Frontline essential workers (Educational sector, Food, Agricultural workers, Emergency services). Any requests received that do not meet current tier criteria will be scheduled when applicable tiers have opened.'" %}</b>
    </div> {% endcomment %}
{% endblock declaration-text %}



