{% load static %}
{% load i18n %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Medical, Vision, Dental & Behavioral Health Services | {{ title|title }}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="" type="image/png">
    <link rel="icon" type="image/png" href={{ titlelogo }}>

    <link rel="stylesheet" href="{% static "appointment/assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "appointment/assets/css/style.css" %}">
    <style>
    html,body{
            height: 100%;
            width: 100%;
            margin: 0;
            display: table;
            overflow-x: clip;
        }
        .footer-main{
            height: 0;
            display: table-row;
        }
        .header-background{
            padding: 0;
            background: rgb(240, 240,240);
            height: 50.45px;
        }
        .burger-icon.menu-bar{

        }

        @media only screen and (max-width: 767px) {
            .header-logo-main>img {
                width: 110px;
            }
        }
        @media only screen and (min-width: 768px) {
            .header-logo-main>img{
                width: 110px;
                height: 100%;
            }
        }
    </style>

</head>

<body>
    <section>
        <div class="header-background row">
            <div class="col-6" >
            <div class="">
                <div class="col-6 header-logo-main">
                    <img src={{ logo }} alt="logo" />
                </div>
            </div>
        </div>

            <div class="col-6">
                <div class="container">
                    <div class="d-flex justify-content-between">
                        <div class="social-icons">{% comment %}
                            <span>{% trans "follow us" %}</span>
                            <a class="ml-3" href="">
                                <img src="{% static "appointment/assets/images/facebook.png" %}" alt="" width="32">
                            </a>
                            <a class="ml-3" href="">
                                <img src="{% static "appointment/assets/images/instagram.png" %}" alt="" width="32">
                            </a>
                            <a class="ml-3" href="">
                                <img src="{% static "appointment/assets/images/twitter.png" %}" alt="" width="32">
                            </a>
                            <a class="ml-3" href="">
                                <img src="{% static "appointment/assets/images/youtube.png" %}" alt="" width="32">
                            </a>{% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="burger-icon menu-bar d-none" >
                    <div class="burger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="col-12 px-md-5  mt-5 pt-3">
        <div class="col-12 pb-5">
            <h3 class="text-center">{% translate "Appointment Request" %}</h3>
        </div>
        {% block body %}
        {% endblock %}
    </div>
    <footer class="mt-3 footer-main">
        <div class="col-12">
          <a href="#" class="navbar-brand text-uppercase font-weight-bold">
            <img src="{{ logo }}" width="60" height="30" alt="">
          </a>
          <span class="mb-3 mb-md-0 text-muted">© 2023 Basa. All Rights Reserved.</span>
        </div>
    </footer>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" /> -->
    

    <script src="{% static "appointment/assets/js/vendor/jquery-1.12.4.min.js" %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- <script src="{% static "assets/js/main-babel.js" %}"></script> -->
    {% if is_khs_url %}
        <script src="{% static "appointment/assets/js/build/khsmain.js" %}"></script>
    {% else %}
        <script src="{% static "appointment/assets/js/es6/main.js" %}"></script>
    {% endif %}
    <!-- <script src="{% static "assets/js/build/main.js" %}"></script> -->

    {% comment %} This is for testing only {% endcomment %}
    {% comment %} <script src="{% static "appointment/assets/js/main.js" %}"></script> {% endcomment %}

    {% block script%}
    {% endblock %}
</body>

</html>