{% extends 'appointment/common/layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'appointment/assets/css/dashboard.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
.dashsidebarcls {
    position: absolute;
    top: 0;
    z-index: 10001;
    transition: width 0.8s;
    right: 0;
    width: 0px;
}
.span_font {
    text-align: left;
    font-weight: 400;
    font-family: 'Open Sans';
    font-size: 14px;
    letter-spacing: 0px;
    color: #FD6200;
    opacity: 0.8;
}
#archive-model{
    z-index: 20000000;
}
#view-model{
    z-index: 100000;
}
</style>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <input type="hidden" id="time1" value="{{ time1 }}" />
    <input type="hidden" id="time2" value="{{ time2 }}" />
    {% include './popup/logout.html' %}
    {% csrf_token %}
    <div class="d-flex">
        <h5 class="my-4 mr-auto">Appointments</h5>
        <div class="col-auto my-4" style="background-color: #e6e7e9;">
            <input type="text" id="searchBooking" placeholder="Search Ph.No" />
            <i class="fas fa-search" style="font-weight: 100;"></i>
        </div>
        <div class="col-auto my-4" style="border-radius: 3px;">
            <div id="reportrange">
                <img src="{% static 'appointment/assets/images/calendar.svg' %}" alt="calenderimage">&nbsp;<span></span>
                <input type="hidden" id="date_start" value="" />
                <input type="hidden" id="date_end" value="" />
            </div>
        </div>
        <div class="col-auto my-4">
            <button id="export-button" class="btn btn-success h-100 pl-3 pr-3">Export</button>
        </div>
    </div>
    <div class="row boxrow">
        <div class="col-2 countbox border-active" data-archive=""><b id="status_all"></b>
            <p>All</p>
        </div>
        <div class="col-2 countbox" data-archive="False"><b id="status_up"></b>
            <p>Active</p>
        </div>
        <div class="col-2 countbox" data-archive="True"><b id="status_com"></b>
            <p>Archived</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 page-alerts">
            <div id="error-alert" class="alert alert-danger p-2 d-none">Something happened, try again</div>
            <div id="success-alert" class="alert alert-success p-2 d-none">Archived successfully</div>
        </div>
        <div class="col-md-12">
            <div class="row mb-2">
                <div class="col-md-3">
                    <select class="form-control" id="country-selector" >
                        {% for key, val in location_list %}
                        <option value="{{key}}">{{val}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% if is_khs_url == None%}
                <div class="col-md-3">
                    <select class="form-control" id="vaccine-type" >
                        {% for key, val in vaccine_type %}
                        <option value="{{key}}">{{val}}</option>
                        {% endfor %}
                    </select>
                </div>
                {% endif %}
            </div>
            <div class="table-responsive">
                <table class="table storebookTable noborder">
                    <thead>
                        <tr>
                            <td>Location</td>
                            <td>Appointment Type</td>
                            <td>Preferred Day of Week</td>
                            <td>Preferred Time Frame</td>
                            <td>Accept Text</td>
                            <td>First&nbsp;Name</td>
                            <td>Last&nbsp;Name</td>
                            <td>Phone&nbsp;Number</td>
                            <td>Status</td>
                            <td>
                                <span>Created Date</span>
                                <span class="position-relative p-1 pt-2">
                                    <a class="sort-table hover-icons" data-td="create_date">
                                    </a>
                                </span>
                            </td>
                            <td style="width: 11%;">Action</td>
                        </tr>
                    </thead>
                    <tbody id="storebookingData">
                    </tbody>
                </table>
                <div class="row justify-content-between m-0">
                    <div id="holder"> </div>
                    <select name="limit" id="limit">
                        <option value="50" selected>50</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div id="dash_sidebar" class="dashsidebarcls card card-custom card-stretch clearfix formWall">
        <div class="d-flex align-items-center justify-content-between p-2 extension_header" style="background-color: #EDEDED; width: 100%;">
            <h4 class="pt-1 pl-3 extension_header" id="extension_header">9999999999</h4>
            <button id="dashboard_ext_close" class="btn close" style="font-size: 30px;">×</button>
        </div>
        <div class="card-body pt-0">
            <div class="py-9"><div class="table_div_inside">
                <table id="subscription_table_overview" class="table" style="margin-bottom: 0rem;">
                    
                </table>
                
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->

<div class="modal" id="archive-model" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Do you want to archive this?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Once archived, you can find it under archived appointments</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Archive</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>

    <div class="modal" id="view-model" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal-view-title"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-view-body">
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block script %}
    {% block appointment_type %}
    <input type="hidden" id="appointment_type" value="COVID-19 Vaccine">
    {% endblock appointment_type %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
        integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!-- <script src="{% static 'assets/js/dashboard.js' %}"></script> -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.1/xlsx.full.min.js"></script>
    {% if is_khs_url %}
        <script src="{% static 'appointment/assets/js/build/khsdashboard.js' %}"></script>
    {% else %}
        <script src="{% static 'appointment/assets/js/es6/dashboard.js' %}"></script>
    {% endif %}
    <script src="{% static 'appointment/assets/js/vendor/idle-timer.min.js' %}"></script>
    <script>
        var time1 = parseInt($('#time1').val());
        var time2 = parseInt($('#time2').val());
        $(document).idleTimer(time1);

        var counter = 0
        var timer;
        $(document).bind("idle.idleTimer", function(){
            $('#logout-after-inactive').modal('show')
                timer = setInterval(Mytimer,1000)
                function Mytimer(){
                    counter = counter + 1;
                    if(counter==time2)
                    {
                        $.ajax
                        ({
                            url: `/accounts/logout/`,
                            type: "POST",
                            data: {
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                            },
                        success: function (res) {
                            location.reload(true); 
                        }
                        })
                    }
                }
        });
        $('#sessiontimeout').click(function(){
            clearInterval(timer)
            $('#logout-after-inactive').modal('hide')
            counter = 0;
        })
    </script>
    <!-- <script src="{% static 'assets/js/build/dashboard.js' %}"></script> -->
    {% endblock %}
