{% extends 'appointment/index.html' %}
{% load static %}
{% load i18n %}

                        {% block language-selector %}
                        {% include "appointment/language-selector.html" %}
                        {% endblock language-selector %}
                        {% block form-step-1-include %}
                        {% include 'appointment/forms/form-step-1-eastniles.html' %}
                        {% endblock form-step-1-include %}
                        {% block form-step-4-include %}
                        {% include 'appointment/forms/form-step-4-farmworker.html' %}
                        {% endblock form-step-4-include %}