{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Medical, Vision, Dental & Behavioral Health Services | {{ title|title }}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="" type="image/png">
    <link rel="icon" type="image/png" sizes="32x32" href={{ titlelogo }}>
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="{% static "grievanceapp/assets/images/favicon-16x16.png" %}"> -->

    <link rel="stylesheet" href="{% static "grievanceapp/assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "grievanceapp/assets/css/style.css" %}">

</head>

<body>
        <section>
        <div class="header-background">
            <div class="container">
            <div class="row">
                <div class="col-md-6 logo-main">
                    <img src={{ logo }} alt="logo" />
                </div>
                <div class="col-md-6">
                    <h3 class="main-header">Reporting</h3>
                </div>
            </div>
        </div>

            <div class="nav-bar pt-3 pb-3">
                <div class="container">
                    <div class="d-flex justify-content-between">
                        <div class="social-icons">{% comment %}
                            <span>follow us</span>
                            <a class="ml-2" href="">
                                <img src="{% static "grievanceapp/assets/images/facebook.png" %}" alt="" width="25">
                            </a>
                            <a class="ml-2" href="">
                                <img src="{% static "grievanceapp/assets/images/instagram.png" %}" alt="" width="25">
                            </a>
                            <a class="ml-2" href="">
                                <img src="{% static "grievanceapp/assets/images/twitter.png" %}" alt="" width="25">
                            </a>
                            <a class="ml-2" href="">
                                <img src="{% static "grievanceapp/assets/images/youtube.png" %}" alt="" width="25">
                            </a>{% endcomment %}
                        </div>
                    </div>
                </div>

                {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto ml-md-0">
                    <li class="nav-item dropdown">
                        <a style="color:white;"
                            class="px-4 text-grey nav-link dropdown-toggle" id="userDropdown" href="#" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg></i>&nbsp;{{user.username}}</a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                        </div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </section>
    <div class="container">
        <div class="thank-page mt-5 mb-5">
            <p>
                <span class="success-tick">&#x2713;</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you for submitting your request
            </p>
            <div class="justify-content-center">
                    <div class="col-md-3 p-2">
                        <a href="{% url 'grievanceapp:add_complaint_report' %}"><button class="btn btn-info">Go to Complaint Reporting</button></a>
                    </div>
            </div>
        </div>
    </div>
    <div class="footer-main mt-3">
        <div class="container pt-2 pb-2">
            <div class="col-md-4 d-flex align-items-center">
                <a href="#" class="navbar-brand text-uppercase font-weight-bold">
                  <img src={{ logo }} width="60" height="30" alt="">
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2023 Basa. All Rights Reserved.</span>
            </div>
        </div>
    </div>
    <script src="{% static "grievanceapp/assets/js/vendor/jquery-1.12.4.min.js" %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- <script src="{% static "assets/js/main-babel.js" %}"></script> -->
    <script src="{% static "grievanceapp/assets/js/es6/main.js" %}"></script>
    <link rel="stylesheet" href="{% static 'grievanceapp/assets/css/jquery-ui.css' %}">
</body>
</html>