{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create password</title>
    <link rel="stylesheet" href="{% static "mainapp/assets/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "mainapp/assets/css/password-creation.css" %}">
    
</head>
<body>
    {% csrf_token %}
    <div class="card login-form">
        <div class="card-body">
            <h3 id="id_card_title" class="card-title text-center">Create password</h3>
            
            <div class="card-text">
                <form id="id_creation_form">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Welcome {{ user_mail }},Enter your password here.</label>
                        <input type="password" name="password1" class="form-control form-control-sm" placeholder="Enter your new password" required>
                        <input type="password" name="password2" class="form-control form-control-sm" placeholder="Confirm your new password" required>
                    </div>
                    <div class="col-md-12">
                        <li id="pwd-restriction-length">Be between 10-16 characters in length</li>
                        <li id="pwd-restriction-upperlower">Contain at least 1 lowercase and 1 uppercase letter</li>
                        <li id="pwd-restriction-number">Contain at least 1 number (0–9)</li>
                        <li id="pwd-restriction-special">Contain at least 1 special character (!@#$%^&()'[]"?+-/*)</li>
                    </div>
                    <div class="col-md-12">
                        <div id="password-error-alert" class="alert alert-danger p-2 d-none">Something happened, try again</div>
                    </div>
                    <button id="id_set_password" type="button" class="btn btn-primary btn-block">Set Password</button>
                </form>
                <!-- <form action="/" id="id_redirect" class="d-none">
                    <button href="/" type="submit" class="btn btn-success btn-block">Go to login</button>
                </form> -->
                <button  id="id_redirect" class="d-none btn btn-success" >Go to login </button>
            </div>
        </div>
    </div>
    <input type="hidden" name="user-id" value={{ user_id }}>
    <script>
        function extractDomain(url) {
            var domain;
            try {
                domain = (new URL(url)).hostname.split('.')[0];
            } catch (error) {
                console.error("Invalid URL:", error);
                domain = null;
            }
            return domain;
        }

        async function fetchData() {
            try {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    console.log(xmlHttp.readyState)
                    console.log(xmlHttp.status)
                    var currentUrl = window.location.href;
                    let domain = extractDomain(currentUrl);
                    window.location.href = "http://" + domain + ".yettihealth.com/"; // added missing dot
                };
                xmlHttp.open("GET", "http://yettihealth.com", true); // added missing open() call
                xmlHttp.send(); // added missing send() call
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        document.getElementById("id_redirect").addEventListener("click", function () {
            fetchData()
                .then(data => {
                    console.log("Nothing");
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
    {% block script %}
    <script src="{% static "mainapp/assets/js/vendor/jquery-1.12.4.min.js" %}"></script>
    <script src="{% static 'mainapp/assets/js/vendor/jquery-ui.min.js' %}"></script>
    <script src="{% static 'mainapp/assets/js/es6/password-creation.js' %}"></script>
    {% endblock %}
</body>
</html>