{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static "mainapp/assets/css/form-creation.css" %}">
</head>
<body>
    {% csrf_token %}
<div class="card-container">
    <div class="card">
      <div class="card-header">
        <input type="text" class="form-control card-title" placeholder="Title">
        <input type="text" class="form-control card-description" placeholder="Description">
        <select class="form-control field-type-dropdown">
          <option value="">Select Field Type</option>
          <option value="text">Text</option>
          <option value="date">Date</option>
          <option value="input">Input</option>
          <option value="radio">Radio Buttons</option>
          <option value="checkbox">Checkbox</option>
          <option value="dropdown">Dropdown</option>
        </select>
        <button type="button" class="btn btn-danger delete-card-btn d-none')">Delete</button>
      </div>
      <div class="card-body">
        <div class="card-field-options d-none">
          <button type="button" class="btn btn-primary add-option-btn">Add Option</button>
        </div>
        <div class="card-options d-none"></div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-success add-card-btn">Add Card</button>
  <button type="button" class="btn btn-success submit-btn">Create</button>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static "mainapp/assets/js/es6/form-creation.js" %}"></script>
</body>
</html>